body {
    font-family: "Roboto", sans-serif;
    color: rgb(2, 34, 75);
    background-color: rgb(255, 255, 255);
}

h4 {
    font-size: 19px;
    font-weight: bold;
}

h5 {
    font-size: 14px;
    text-decoration: underline;
}

h6 {
    margin-top: 0px;
}

.app__container {
    margin: 1% 1%;
}

.app__header {
    display: flex;
    flex-flow: column;
    color: rgb(2, 29, 65);
}

.app__footer {
    display: flex;
    text-align: center;
    color: rgb(2, 29, 65);
}

.app__header__title {
    color: rgb(3, 18, 37) !important;
    text-decoration: none;
    letter-spacing: 0.23rem;
}

.app__header__title--grey {
    color: rgb(4, 47, 85);
}

.app__comment {
    color: rgb(4, 47, 85);
    margin: 20px 0px;
}

.app__menu__img {
    margin-top: 25px;
    margin-right: 50px;
    height: 65px;
    width: auto;
}

.app__content {
    display: flex;
    margin-top: 30px;
}

.stock__info {
    color: rgb(255, 255, 255);
    background-color: rgb(2, 34, 75);
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    height: 250px;
}

.card__container {
    margin: 1%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.number_of_tweets {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 236, 255);
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.app__infos {
    display: flex;
    flex-flow: column;
    }

.graph__container {
    background-color: rgb(221, 236, 255);
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
}

.prices_returns {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 236, 255);
    border-radius: 0.95rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
}

.first {
    margin-bottom: 15px;
}

.second {
    margin-top: 0px;
}

.graph__title {
    color: rgb(3, 18, 37) !important;
    letter-spacing: 0.3rem !important;
    padding: 15px 0px 0px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
    margin: 0px;
}

.graph__dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.dropdown__label {
    color: rgb(3, 18, 37) !important;
    letter-spacing: 0.3rem !important;
    padding: 15px 0px 0px 25px;
    margin-bottom: 0px !important;
    font-size: 1em;
}

.dropdown {
    width: 70%;
}

.graph__button {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 30px;
}

.matrix {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(221, 236, 255);
    border-radius: 0.95rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px;
}

button {
    background-color: rgb(2, 34, 75);
    color: rgb(221, 236, 255);
}

button:hover {
    background-color: rgb(221, 236, 255);
    color: rgb(2, 34, 75);
}

button:focus {
    background-color: rgb(237, 203, 245);
    color: rgb(2, 34, 75);
}